<html>
  <body>
    <form action="addSomething" method="POST">
      <h3>New Dogtor</h3>
      <label for="dogtorFirstName">First Name:</label>
      <input id="dogtorFirstName" name="dogtorFirstName" type="text" placeholder="First Name">
      <label for="last">First Name:</label>
      <input id="last" name="last" type="text" placeholder="Last Name">
      <input type="submit" value="Submit New Dogtor">
    </form>
    <form action="addSomething" method="POST">
      <h3>New Doge</h3>
      <label for="first">First Name:</label>
      <input id="first" name="first" type="text" placeholder="First Name">
      <br>
      <label for="last">Last Name:</label>
      <input id="last" name="last" type="text" placeholder="Last Name">
      <br>
      <label for="breed">Breed:</label>
      <input id="breed" name="breed" type="text" placeholder="Breed">
      <br>
      <label for="weight">Weight:</label>
      <input id="weight" name="weight" type="number" placeholder="Weight">
      <br>
      <label for="age">Age:</label>
      <input id="age" name="age" type="number" placeholder="Age">
      <br>
      <label for="color">Color:</label>
      <input id="color" name="color" type="text" placeholder="Color">
      <br>
      <label for="doctorID">Dogtor ID:</label>
      <input id="doctorID" name="dogtorID" type="number" placeholder="Dogtor ID">
      <br>
      <label for="maladyID">Malady ID:</label>
      <input id="maladyID" name="maladyID" type="number" placeholder="MaladyID">
      <input type="submit" value="Submit New Doge">
    </form>
    <form action="addSomething" method="POST">
      <h3>New Malady</h3>
      <label for="malady">Malady:</label>
      <input id="malady" name="malady" type="text" placeholder="Malady">
      <input type="submit" value="Submit New Malady">
    </form>
    <form action="/" method="GET">
      <input type="submit" value="Go Back">
    </form>
  </body>
</html>