<html>
<body>
  <form action="deleteSomething" method="POST">
    <h3>Delete Dogtor</h3>
    <label for="dogtorID">Dogtor ID:</label>
    <input id="dogtorID" name="deleteDogtor" type="number" placeholder="Dogtor ID">
    <input type="submit" value="Delete Dogtor">
  </form>
  <form action="deleteSomething" method="POST">
    <h3>Delete Doge</h3>
    <label for="dogeID">Doge ID:</label>
    <input id="dogeID" name="deleteDoge" type="number" placeholder="Doge ID">
    <input type="submit" value="Delete Doge">
  </form>
  <form action="deleteSomething" method="POST">
    <h3>Delete Malady</h3>
    <label for="maladyID">Malady ID:</label>
    <input id="maladyID" name="deleteMalady" type="number" placeholder="Malady ID">
    <input type="submit" value="Delete Malady">
  </form>
  <form action="/" method="GET">
    <input type="submit" value="Go Back">
  </form>
</body>
</html>